<!-- header -->
<%- include('include/_header-directory')%>
<!-- /header -->

<div class="directory">
    <h2 class="title">All Directories</h2>
    <div class="directory-news">
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<%- include('include/_footer')%>
<!-- /footer -->