<!-- header -->
<%- include('include/_header')%>
<!-- /header -->

<main>
    <div class="main-news">
        <div class="subnews">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Finance</h2>
            </div>
        </div>
        <div class="subnews">
            <img src="img/image.jpg" alt="">
            <h1>Why Study is Important</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Self-Dev</h2>
                <h2>Education</h2>
            </div>
        </div>
    </div>
    <div class="more-news">
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Top Hairstyle for men</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Black Swan</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Music</h2>
                <h2>Education</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Tips & Tricks for Reading</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Self-Dev</h2>
                <h2>Education</h2>
            </div>
        </div>
    </div>
    
</main>

<div class="partition"></div>

<div class="directory">
    <h2 class="title">Latest</h2>
    <div class="directory-news">
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
    </div>
</div> 

<div class="partition"></div>

<div class="directory">
    <h2 class="title">Category</h2>
    <div class="directory-news">
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
        <div class="subnews-s">
            <img src="img/image.jpg" alt="">
            <h1>Ways to Make Money</h1>
            <p>
                It’s a vitamins company with a brilliant website 
                designed to hook you into that concept. Set against 
                an orange gradient, the website focuses on a rotating 
                bottle that follows you down the screen while 
                highlighting its active ingredients.
            </p>
            <div>
                <h2>Sport</h2>
            </div>
        </div>
    </div>
</div> 

<!-- footer -->
<%- include('include/_footer')%>
<!-- /footer -->