<!-- header -->
<%- include('include/_header')%>
<!-- /header -->

<main class="show">
    <h3 class="title">Tips & Tricks for Reading</h3>
    <img src="img/image.jpg" alt="">
    <p>
        We all make mistakes. It’s the most efficient way to learn, grow, and build experience. You can improve yourself if you reflect 
        and learn from your mistakes. Most humans don’t reflect on their mistakes. They criticize themselves for making those mistakes. 
        A third person doesn’t need to blame them; they do it themselves. I’ll list ten mistakes that I’ve seen back-end engineers make 
        throughout their Software Engineering career. Your current position doesn’t matter when it comes to making mistakes. We all make 
        them at any time in our careers. Google is losing legal battles, and Reddit is helping Google build a monopoly while digging a 
        grave for both companies. Here’s what is happening.

        We all make mistakes. It’s the most efficient way to learn, grow, and build experience. You can improve yourself if you reflect 
        and learn from your mistakes. Most humans don’t reflect on their mistakes. They criticize themselves for making those mistakes. 
        A third person doesn’t need to blame them; they do it themselves. I’ll list ten mistakes that I’ve seen back-end engineers make 
        throughout their Software Engineering career. Your current position doesn’t matter when it comes to making mistakes. We all make 
        them at any time in our careers. Google is losing legal battles, and Reddit is helping Google build a monopoly while digging a 
        grave for both companies. Here’s what is happening.\n

        We all make mistakes. It’s the most efficient way to learn, grow, and build experience. You can improve yourself if you reflect 
        and learn from your mistakes. Most humans don’t reflect on their mistakes. They criticize themselves for making those mistakes. 
        A third person doesn’t need to blame them; they do it themselves. I’ll list ten mistakes that I’ve seen back-end engineers make 
        throughout their Software Engineering career. Your current position doesn’t matter when it comes to making mistakes. We all make 
        them at any time in our careers. Google is losing legal battles, and Reddit is helping Google build a monopoly while digging a 
        grave for both companies. Here’s what is happening./n

        We all make mistakes. It’s the most efficient way to learn, grow, and build experience. You can improve yourself if you reflect 
        and learn from your mistakes. Most humans don’t reflect on their mistakes. They criticize themselves for making those mistakes. 
        A third person doesn’t need to blame them; they do it themselves. I’ll list ten mistakes that I’ve seen back-end engineers make 
        throughout their Software Engineering career. Your current position doesn’t matter when it comes to making mistakes. We all make 
        them at any time in our careers. Google is losing legal battles, and Reddit is helping Google build a monopoly while digging a 
        grave for both companies. Here’s what is happening.\n

        We all make mistakes. It’s the most efficient way to learn, grow, and build experience. You can improve yourself if you reflect 
        and learn from your mistakes. Most humans don’t reflect on their mistakes. They criticize themselves for making those mistakes. 
        A third person doesn’t need to blame them; they do it themselves. I’ll list ten mistakes that I’ve seen back-end engineers make 
        throughout their Software Engineering career. Your current position doesn’t matter when it comes to making mistakes. We all make 
        them at any time in our careers. Google is losing legal battles, and Reddit is helping Google build a monopoly while digging a 
        grave for both companies. Here’s what is happening.
    </p>
    <div>
        <h4>Self-Dev</h4>
        <h4>Education</h4>
    </div>

    <div class="partition"></div>
</main>

<!-- footer -->
<%- include('include/_footer')%>
<!-- /footer -->