<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snippets</title>
    
    <!-- Styling CSS -->
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/include/header-directory.css">
    <link rel="stylesheet" href="css/directory-category.css">
    <link rel="stylesheet" href="css/footer.css">
    <!-- CSS Components -->
    <link rel="stylesheet" href="css/component/subnews.css">

    <!-- Fonts -->
    <link href="https://fonts.cdnfonts.com/css/piximisa" rel="stylesheet">
    
    <!-- Scripting JS -->
    <script src="/js/index.js" defer></script>      
</head>
<body>
    <header>
        <h1>SNIPPETS</h1>
        <div>
            <button type="button" id="redirectToForm">Add New</button>
            <button type="button" id="filterPopup">Filter</button>
            <button>Sort</button>
            <div class="screenpop" id="screenpop">
                <form class="popup" id="fpopup" action="/directories" method="get">
                    <h3>Filter</h3>
                    <div>
                        <div>
                            <label for="category">Category</label>
                            <select name="category">
                                <option value="">All</option>
                                <option value="Finance">Finance</option>
                                <option value="Self-Dev">Self-Dev</option>
                                <option value="Education">Education</option>
                                <option value="Coding">Coding</option>
                            </select>
                            
                        </div>
                        <div>
                            <div>
                                <label for="startDate">Start Date</label>
                                <input type="date" name="startDate">
                            </div>
                            <div>
                                <label for="endDate">End Date</label>
                                <input type="date" name="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit">Apply</button>
                        <button>Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </header>
    
    <div class="partition"></div>
