<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snippets</title>
    
    <!-- Styling CSS -->
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/include/header-directory.css">
    <link rel="stylesheet" href="css/directory-category.css">
    <link rel="stylesheet" href="css/footer.css">
    <!-- CSS Components -->
    <link rel="stylesheet" href="css/component/subnews.css">

    <!-- Fonts -->
    <link href="https://fonts.cdnfonts.com/css/piximisa" rel="stylesheet">
                
</head>
<body>
    <header>
        <h1>SNIPPETS</h1>
        <div>
            <button type="button" onclick="window.location.href = '/add-post'">Add New</button>
            <button>Sort</button>
            <button>Refresh</button>
        </div>
    </header>
    
    <div class="partition"></div>
