<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snippets</title>
    <!-- Styling CSS -->
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/include/header-form.css">
    <link rel="stylesheet" href="css/component/form.css">
    <link rel="stylesheet" href="css/footer.css">
    <!-- CSS Components -->
    <link rel="stylesheet" href="css/component/subnews.css">

    <!-- Fonts -->
    <link href="https://fonts.cdnfonts.com/css/piximisa" rel="stylesheet">

    <!-- Scripting JS -->
    <script src="/js/index.js" defer></script>
</head>
<body>
    <header>
        <h1>Add your own <span>Story</span></h1>
        <h2>With intention to help</h2>
    </header>

    <div class="partition"></div>