<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snippets</title>
    
    <!-- Styling CSS -->
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/include/header-directory.css">
    <link rel="stylesheet" href="css/directory-category.css">
    <link rel="stylesheet" href="css/include/footer.css">

    <!-- CSS Components -->
    <link rel="stylesheet" href="css/component/subnews.css">

    <!-- Flaticon SVG Icons -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <!-- Fonts (Preload for Performance) -->
    <link rel="preload" href="https://fonts.cdnfonts.com/css/piximisa" as="style">
    <link href="https://fonts.cdnfonts.com/css/piximisa" rel="stylesheet">
    
    <!-- Scripting JS -->
    <script src="/js/index.js" defer></script>      
</head>
<body>
    <header>
        <i class="fi fi-rr-caret-circle-right backBtn" id="gotoIndex"></i>
        <h1>SNIPPETS</h1>
        <div>
            <button type="button" id="redirectToForm">Add New</button>
            <button type="button" id="filterPopup">Filter</button>
            <button type="submit" id="sorterGet">Sort</button>
            <select name="sorter" id="sorterOptions">
                <option value="title Asc">Title (Asc)</option>
                <option value="title Des">Title (Des)</option>
                <option value="category Asc">Category (Asc)</option>
                <option value="category Des">Category (Des)</option>
                <option value="createdAt Asc">CreatedAt (Oldest)</option>
                <option value="createdAt Des" selected>CreatedAt (Newest)</option>
            </select>
            <div class="screenpop" id="screenpop">
                <form class="popup" id="fpopup" action="/directories" method="get">
                    <h3>Filter</h3>
                    <div>
                        <div>
                            <label for="category">Category</label>
                            <select name="category">
                                <option value="">All</option>
                                <option value="Finance">Finance</option>
                                <option value="Self-Dev">Self-Dev</option>
                                <option value="Education">Education</option>
                                <option value="Coding">Coding</option>
                            </select>
                            
                        </div>
                        <div>
                            <div>
                                <label for="startDate">Start Date</label>
                                <input type="date" name="startDate">
                            </div>
                            <div>
                                <label for="endDate">End Date</label>
                                <input type="date" name="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit">Apply</button>
                        <button>Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </header>
    
    <div class="partition"></div>
