.directory{
    display: block;
    width: 100%;
}
.directory-news{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    justify-content: center;
    text-align: center;
    align-items: center;
    row-gap: 3rem;
    column-gap: 3rem;
}