.subnews-s, .subnews{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24rem;
    max-height: 40rem;
    max-width: 40rem;
    
    /* border-radius: 1rem; */
    h1{
        font-size: 1.2rem;
        font-weight: bold;
    }
    div{
        display: flex;
        justify-content: center;
        column-gap: 1rem;
    }
    h2{
        padding: 0.2rem 0.6rem;
        background-color: var(--orange);
        border-radius: 1rem;
    }
    p{
        font-size: 0.7rem;
        padding:0 10%;
    }
    img{
        align-self: center;
        width: 96%;
        height: fit-content;
    }
}
.subnews{
    height: 50%;
    background-color: rgb(221, 199, 0);
    margin-bottom: 3rem;
}

/* Extra Small Devices (Phones) */
@media (max-width: 576px) {
    .directory-news{
        grid-template-columns: 40% 40%;
    }
    .subnews-s{
        height: 22rem;
    }
}

/* Small Devices (Tablets) */
@media (min-width: 577px) and (max-width: 768px) {
    .directory-news{
        grid-template-columns: 42% 42%;
    }
}

@media (min-width: 1201px) {
    .directory-news{
        grid-template-columns: 20% 20% 20% 20%;
    }
    .subnews-s{
        height: 28rem;
    }
}
